.hero-section {
  min-height: 80vh;
  background-image: url("../assets/tree.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(14, 99, 211, 0.808);
  text-align: center;
  padding: 0 24px; /* px: 3 equivalent in MUI */
}
